/* old tt */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
/* monstertan */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 10px 10px;
}

header {
    width: 100%;
    max-width: 1440px;
    height: 825px;
    background-color: rgba(169, 80, 148, 1);
    display: flex;
    justify-content: space-between;
    padding: 35px 135px;
    background-image: url(/images/стриралка.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 200px;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.logos_img {
    width: 23px;
    height: 33px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 320px;
    top: 45px;
}

.nav_a {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-size: 10px;

}

.logo_second {
    display: flex;
    color: #fff;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 0px;
    position: absolute;
    margin-left: 890px;
}

.logo_second_img {
    width: 20px;
    height: 20px;
}

.header_btn {
    width: 162px;
    height: 55px;
    color: rgba(255, 196, 100, 1);
    border-radius: 15px;
    border: 1px solid rgba(255, 196, 100, 1);
    background-color: transparent;
    margin-top: -10px;
    position: absolute;
    margin-left: 990px;
}

.person_img {
    margin-left: -134px;
    margin-top: 50px;
}

.header_text {
    width: 664px;
    height: 265px;
    color: #fff;
    font-family: "Old Standard TT", serif;
}

.header_text_h {
    width: 664px;
    font-weight: 800;
    font-size: 67px;
    position: absolute;
    right: 100px;
    top: 200px;
}

.header_text_p {
    width: 460px;
    position: absolute;
    right: 300px;
    top: 470px;
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    font-weight: 700;
}

.header_text_p_span {
    color: rgba(255, 196, 100, 1);
}

.header_text_btn {
    width: 222px;
    height: 55px;
    position: absolute;
    top: 550px;
    right: 540px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 500;
}

.black_text {
    padding: 0px 20px;
    width: 100%;
    max-width: 1170px;
    height: 49px;
    display: flex;
    background-color: black;
    position: absolute;
    bottom: -90px;
    right: 130px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.black_text_h {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 196, 100, 1);
}

.black_text_p {
    color: rgba(255, 196, 100, 1);
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
}

.black_text_span {
    color: #fff;
}

.fa-arrow-right-long {
    color: rgba(255, 196, 100, 1);
}

@media(max-width:780px) {
    header {
        background-size: 344px 456px;
        background-position-x: 30px;
        background-position-y: 360px;
    }

    .logoss {
        margin-top: 50px;
        position: absolute;
        right: 480px;
    }

    .logo {
        position: absolute;
        left: -100px;
        top: -19px;
    }

    nav ul {
        width: 534px;
        height: 20px;
        font-family: "Quicksand", sans-serif;
        position: absolute;
        top: -70px;
        left: 118px;
        gap: 15px;
        font-size: 20px;
    }

    .person_img {
        width: 574px;
        height: 547px;
        position: absolute;
        left: 216px;
        top: 108px;
        z-index: 1;
    }

    .logo_second {
        position: absolute;
        left: -740px;
        top: 15px;
    }

    .logos_img {
        position: absolute;
        right: 100px;
        top: 9px;
        width: 23px;
        height: 23px;
    }

    .header_btn {
        width: 162px;
        height: 55px;
        position: absolute;
        left: -460px;
        top: 70px;
    }

    .header_text_h {
        width: 464px;
        height: 192px;
        font-size: 36px;
        top: 130px;
        right: 130px;
        text-align: center;
    }

    .header_text_p {
        width: 420px;
        height: 48px;
        font-size: 16px;
        position: absolute;
        top: 277px;
        left: 175px;
        text-align: center;
    }

    .header_text_btn {
        width: 222px;
        height: 55px;
        position: absolute;
        z-index: 1;
        top: 670px;
        left: 270px;
    }

    .black_text {
        width: 780px;
        height: 112px;
        position: absolute;
        bottom: 148px;
        left: 10px;
        z-index: 1;
        text-align: center;

    }

    .first_cards {
        width: 697px;
        height: 188px;
    }

    .first {
        position: absolute;
        bottom: -70px;
        left: 60px;
    }

    .second1 {
        position: absolute;
        left: 570px;
        bottom: -70px;
    }

    .third1 {
        position: absolute;
        left: 70px;
        bottom: -280px;
    }

    .fourth2 {
        position: absolute;
        bottom: -280px;
        left: 560px;
        z-index: 1;
    }

    .first_section_text_h {
        position: absolute;
        top: 490px;
        left: 220px;
    }

    .first_section_text_p {
        position: absolute;
        top: 450px;
        left: 320px;

    }

    .first_section_btns {
        display: none;
    }

    .stiralka {
        width: 399px;
        height: 541px;
        position: absolute;
        top: 560px;
        left: 220px;
    }

    .btn3 {
        width: 620px;
        height: 63px;
        position: absolute;
        top: 1000px;
        border: 1px solid rgba(150, 49, 125, 1);
        left: 100px;
    }

    .btn3_p {
        position: absolute;
        left: 220px;
        top: 20px;
        color: rgba(150, 49, 125, 1);
    }

    .first_section_second_text_p {
        width: 413px;
        height: 26px;
        position: absolute;
        top: 455px;
        left: 50px;
    }

    .cross {
        position: absolute;
        top: 450px;
    }

    .section_text {
        position: absolute;
        bottom: -1540px;
        left: -175px;
    }

    .first_textr_p {
        position: absolute;
        top: 60px;
    }

    .first_text_p2 {
        position: absolute;
        right: 650px;
    }

    .second_text_p2 {
        position: absolute;
        right: 650px;
    }

    .third_text_p2 {
        position: absolute;
        right: 630px;
    }

    .fourth_text_p2 {
        position: absolute;
        right: 650px;
    }

    .fifth_text_p2 {
        position: absolute;
        right: 630px;
    }

    .sixth_text_P2 {
        position: absolute;
        right: 630px;

    }
}

.first_cards {
    width: 1107px;
    height: 230px;
    padding: 50px 135px;
    display: flex;
    gap: 100px;
}

.first_card {
    width: 207px;
    height: 151px;
}

.first_card_h {
    width: 207px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.first_section {
    width: 100%;
    max-width: 1440px;
    height: 818px;
    background-image: url(/images/picture\ bacground1.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.first_section_text {
    width: 476px;
    height: 70px;
    margin-left: 192px;
    margin-top: 35px;
}

.first_section_text_p {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 15px;
    color: rgba(169, 80, 148, 1);
}

.first_section_text_h {
    width: 476px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 35px;
}

.first_section_btns {
    /* width: 594px;
    height: 350px; */
    margin-top: 124px;
    position: absolute;
    left: 192px;
    top: 50px;
}

.first_btn {
    width: 172px;
    height: 54px;
    border: none;
    background-color: rgba(169, 80, 148, 1);
    border-radius: 15px;

}

.first_btn_all {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.second_full_btn {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.third_all_btn {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.fourth_all_btn {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

}

.second_btn {
    width: 172px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
}

.third_btn {
    width: 197px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
}

.fourth_btn {
    width: 501px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
    margin-bottom: 15px;
}

.fifth_btn {
    width: 215px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
}

.sixth_btn {
    width: 294px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;

}

.seventh_btn {
    width: 173px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;

}

.eighth_btn {
    width: 176px;
    height: 54px;
    border: 1px solid rgba(143, 58, 123, 0.905);
    border-radius: 15px;
    background-color: transparent;
}

.ninth_btn {
    width: 215px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
}

.ten_btn {
    width: 215px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
}

.eleventh_btn {
    width: 294px;
    height: 54px;
    border: 1px solid rgba(169, 80, 148, 1);
    border-radius: 15px;
    background-color: transparent;
}

.first_section_second_text {
    width: 417px;
    height: 34px;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 635px;
    left: 192px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 16px;
}

.cross {
    width: 34px;
    height: 34px;
}

.second_section {
    width: 971px;
    height: 583px;
}

.second_section_h {
    width: 359px;
    margin-left: 541px;
    margin-top: 55px;
}

.second_section_h3 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 45px;
}

.section_text {
    width: 971px;
    height: 419px;
    margin-left: 250px;
}

.first_text {
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}

.first_text_p2 {
    margin-left: 390px;
}

.second_section_text {
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    margin-top: 25px;
}

hr {
    margin-top: 25px;
}

.second_text_p2 {
    font-family: "Old Standard TT", serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(150, 49, 125, 1);
}

.third_text {
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    margin-top: 25px;
}

.third_text_p2 {
    font-family: "Old Standard TT", serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(150, 49, 125, 1);
}

.fourth_text {
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    margin-top: 25px;
}

.fourth_text_p2 {
    margin-left: 290px;
    font-weight: 500;
    font-size: 18px;


}

.fifth_text {
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    margin-top: 25px;
}

.fifth_text_p2 {
    margin-left: 350px;
    font-weight: 500;
    font-size: 18px;
}

.sixth_text {
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    margin-top: 25px;
}

.sixth_text_P2 {
    margin-left: 300px;
    font-weight: 500;
    font-size: 18px;
}

.return {
    display: flex;
    gap: 10px;
    margin-left: 632px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
}

.third_section {
    width: 1440px;
    height: 1034px;
    padding: 50px 135px;
}

.third_section_text {
    width: 815px;
    height: 74px;
    margin-top: 134px;
    margin-left: 313px;
    text-align: center;
    margin-bottom: 15px;
}

.third_section_cards {
    display: flex;
    justify-content: space-between;

}

.third_section_text_p {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 20px;
    color: rgba(150, 49, 125, 1);
}

.third_section_text_h {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 45px;
}

.card_p1 {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 50px;
}

.card_p2 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
}

.second_icons {
    margin-top: 15px;
    margin-left: 15px;
    width: 185px;
    height: 97px;
}

.icon {
    display: flex;
    gap: 13px;
    margin-bottom: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(150, 49, 125, 1);
}

.third_section_img {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.card_img {
    width: 102px;
    height: 28px;
}

.third_section_img2 {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
}

.iconss4 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons4 {
    color: rgba(150, 49, 125, 1);
}

.third-section_p3 {
    color: rgba(150, 49, 125, 1);
}

.fourth_section {
    width: 1170px;
    height: 582px;
}

.fourth_section_text {
    width: 431px;
    height: 52px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 505px;
}

.fourth_section_h {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 40px;
}

.fourth_section_cards {
    width: 570px;
    height: 417px;
    margin-left: 50px;
    display: flex;
    gap: 39px;
}

.card {
    width: 570px;
    height: 417px;
    margin-left: 50px;

}

.card_texth4 {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 24px;

}

.cards_text2 {
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.fourth_text_p4 {
    width: 470px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 18px;
}

.fourth_section_icon {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
}

.fifth_section {
    width: 1440px;
    height: 235px;
}

.fifth_section_card {
    display: flex;
    justify-content: space-between;
    padding: 35px 135px;
    border: 1px solid #444;
    border-radius: 15px;
    background-color: #66666656;
}

.fifth_section_text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fifth_section_text_p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.paragraf {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
}

.paragraf_span {
    font-size: 18px;
}

.p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 16px;
}

.sixth_section {
    width: 1157px;
    height: 450px;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 90px;
}

.sixth_section_text_h {
    width: 329px;
    height: 120px;
    font-family: "Old Standard TT", serif;
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 25px;
}

.sixth_section_text_p {
    width: 301px;
    height: 81px;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 18px;
}

.btn3 {
    width: 722px;
    height: 74px;
    display: flex;
    position: absolute;
    left: 436px;
    top: -1px;
    border: 1px solid #666;
    align-items: center;
    border-radius: 10px;
}

.btn_3_p {
    position: absolute;
    left: 100px;
    top: 25px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 20px;

}

.btn_3 {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    position: absolute;
    left: 650px;
    top: 15px;
    border: none;
    background-color: rgba(150, 49, 125, 1);
}

.btn_plus {
    font-size: 36px;
    color: #fff;
}

.btn4 {
    width: 722px;
    height: 74px;
    display: flex;
    position: absolute;
    left: 436px;
    top: 91px;
    border: 1px solid #666;
    align-items: center;
    border-radius: 10px;

}

.btn5 {
    width: 722px;
    height: 74px;
    display: flex;
    position: absolute;
    left: 436px;
    top: 186px;
    border: 1px solid #666;
    align-items: center;
    border-radius: 10px;
}

.btn6 {
    width: 722px;
    height: 74px;
    display: flex;
    position: absolute;
    left: 436px;
    top: 281px;
    border: 1px solid #666;
    align-items: center;
    border-radius: 10px;

}

.btn7 {
    width: 722px;
    height: 74px;
    display: flex;
    position: absolute;
    left: 436px;
    top: 371px;
    border: 1px solid #666;
    align-items: center;
    border-radius: 10px;
}

.seventh_section {
    width: 1440px;
    height: 381px;
    background-image: url(/images/фон\ \(2\).png);
}

.seventh_section_text {
    width: 1341px;
    height: 181px;
    background-color: #fff;
    position: absolute;
    top: 5010px;
    left: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 84px;
}

.seventh_section_h {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 40px;
}

.seventh_section_p {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 20px;
}

.seventh_section_span {
    color: rgba(169, 80, 148, 1);
}

.seventh_section_btn_1 {
    width: 326px;
    height: 69px;
    background-color: rgba(245, 245, 245, 1);
    border: none;
    position: absolute;
    right: 390px;
    top: 57px;
    border-radius: 10px;
}

.seventh_section-a {
    position: absolute;
    bottom: 25px;
    right: 195px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.seventh_section_btn_2 {
    width: 326px;
    height: 69px;
    border: none;
    position: absolute;
    right: 20px;
    top: 57px;
    background-color: rgba(169, 80, 148, 1);
    border-radius: 10px;
}

.seventh_section_a {
    position: absolute;
    bottom: 25px;
    right: 195px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.eight_section {
    width: 1186px;
    height: 580px;
    display: flex;
    padding: 35px 60px;
    gap: 69px;
}

.eight_section_text {
    padding: 105px 0px;
}

.eghit_section_h {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.eight_p1 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.eight_p2 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.eight_p3 {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.eight_p4 {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
}

.eight_p5 {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 35px;

}

.eight_btn2 {
    width: 162px;
    height: 55px;
    border: 1px solid rgba(153, 50, 128, 1);
    background-color: transparent;
    border-radius: 15px;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 16px;
    color: rgba(153, 50, 128, 1);
}

footer {
    width: 1338px;
    height: 831px;
    position: relative;
}

.logo_third {
    display: flex;
    padding: 135px 664px;
    gap: 5px;
}

.fixper {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-size: 30px;

}

.nav_ul {
    width: 665px;
    height: 20px;
    display: flex;
    position: absolute;
    top: 190px;
    left: 180px;
    gap: 40px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;

}

.nav_ul_li_a {
    color: black;
}

.footer_text {
    width: 1338px;
    height: 120px;
    background-color: #66666637;
    margin-left: 50px;
}

.icon_third {
    display: flex;
    padding: 35px 322px;
    align-items: center;
    gap: 15px;
}

.icon_third_text {
    width: 231px;
    height: 20px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-size: 16px;

}

.btn_footer {
    width: 92px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.text {
    display: flex;
    justify-content: space-between;
    padding: 50px 135px;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-size: 16px;

}